@using DCP.Models
@model Product

@section titleContent{
    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
    &nbsp;
    &raquo;
    &nbsp;
    <a href="@Url.Action("ByCat", "Product", new { id = Model.CatID })">@ViewBag.Cat</a>
    &nbsp;
    &raquo;
    &nbsp;
    @Model.ProName
}

@section css {
    <style type="text/css">
        .caption-lg-orange {
            font-weight: bold;
            font-size: 12pt;
            color: #fc6e04;
        }

        .caption-lg-red {
            font-weight: bold;
            font-size: 11pt;
            color: #f00;
        }

        .padding {
            padding-top: 8px;
        }
    </style>
}

@if (Model == null)
{
    <text> không có sản phẩm!</text>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <img src="~/Imgs/HinhAnh/@Model.ProID/1.jpg" />
        </div>
        <div class="col-md-4">
            <img src="~/Imgs/HinhAnh/@Model.ProID/2.jpg" />
        </div>
        <div class="col-md-4">
            <img src="~/Imgs/HinhAnh/@Model.ProID/3.jpg" />
        </div>

        @if (ViewBag.SuccessMsg != null)
        {
            <div class="row">
                <div class="alert alert-success alert-dismissable col-sm-offset-4 col-sm-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Chúc mừng!</strong> @ViewBag.SuccessMsg
                </div>
                <div class="col-sm-4"></div>
            </div>
        }

        <div class="col-md-12 caption-lg-orange">
            <h3>@Model.ProName</h3>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Giá hiện tại: @string.Format("{0:N0}", Model.PriceCur)</span>
        </div>
        <div class="col-md-12 padding">
            <form class="form-inline" method="post" action="">
                <div class="form-group">
                    <label for="step">Bước giá: @string.Format("{0:N0}", Model.Step)</label>
                    <div class="input-group">
                        <select class="form-control" id="step" name="money">
                            @for (int i = 1; i < 100; i++)
                            {
                                var step = i * Model.Step + Model.PriceCur;
                                int price = Convert.ToInt32(step);
                                <option>@price</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" value="@Model.ProID" name="ProID" />
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" value="@DCP.Helpers.CurrentContext.GetCurUser().f_ID" name="UserID" />
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" value="@DateTime.Now" name="time" />
                </div>
                <button type="submit" class="btn btn-success">Đặt giá</button>
            </form>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Giá mua ngay: @string.Format("{0:N0}", Model.PriceBuy)</span>
        </div>
        <div class="col-md-12 padding">
            Bắt đầu: @Model.TimeStart
        </div>
        <div class="col-md-12 padding">
            Kết thúc: @Model.TimeEnd
        </div>
        <div class="col-md-12 padding">
            @Html.Raw(Model.FullDes)
        </div>
    </div>
}