@using DCP.Models
@model List<Product>


@if (Model.Count == 0)
{
    <text>Không có sản phẩm</text>
}
else
{
    <div class="row">
        @foreach (var p in Model)
            {
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="~/Imgs/HinhAnh/@p.ProID/main_thumbs.jpg" title="@p.ProName" />
                                <div class="caption">
                                    <h4>@p.ProName</h4>
                                    <h4>Giá hiện tại: @string.Format("{0:N0}", p.PriceCur)</h4>
                                    <h4>Mua ngay: @string.Format("{0:N0}", p.PriceBuy)</h4>
                                    <p>
                                        <a href="@Url.Action("Detail", "Product", new { id = p.ProID })" class="btn btn-info" role="button">
                                            <i class="fa fa-hand-o-right"></i>
                                            Đặt giá
                                        </a> 
                                    </p>
                                </div>
                            </div>
                        </div>
            }
    </div>
}
