
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Imgs/favicon.ico" />

    <title>Đấu giá | Sàn đấu giá Online</title>

    <meta name="keywords" content="Sàn đấu giá Online" />
    <meta name="description" content="Sàn đấu giá Online" />

    <link href="~/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("css", false)
    <style>

    </style>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home">&nbsp;&nbsp;DCP</i>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Đăng kí</a></li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"># <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                    </div>
                    <button type="submit" class="btn btn-default">Tìm kiếm</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Danh mục <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            @Html.Action("List", "Category")

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @RenderSection("titleContent", true)
                        </h3>
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                        <hr />
                        <footer>
                            <div class="container-fluid">
                                <p style="text-align: center; margin: 30px 0px 40px 0; font-size: medium; font-weight: bold;">&copy; DCP - 14CK2 Corporation VN 2014 - @DateTime.Now.Year</p>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/jquery-3.1.1.min.js"></script>
    <script src="~/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>